// Apple Color Palette
$iRed     : rgb(255,59,48);
$iOrange  : rgb(255,149,0);
$iYellow    : rgb(255,204,0);
$iGreen   : rgb(76,217,100);
$iTealBlue  : rgb(90,200,250);
$iBlue    : rgb(0,122,255);
$iPurple    : rgb(88,86,214);
$iPink    : rgb(255,45,85);

// White Shades
$snow     : rgb(255,255,255);
$honeydew : rgb(240,255,240);
$mintcream  : rgb(245,255,250);
$azure    : rgb(240,255,255);
$aliceblue  : rgb(240,248,255);
$ghostwhite : rgb(248,248,255);
$whitesmoke : rgb(245,245,245);
$seashell   : rgb(255,245,238);
$beige    : rgb(245,245,220);
$oldlace    : rgb(253,245,230);
$floralwhite: rgb(255,250,240);
$ivory    : rgb(255,255,240);

// Grayscale
$black-10 :    darken(#fff, 10%);
$black-20 :    darken(#fff, 20%);
$black-30 :    darken(#fff, 30%);
$black-40 :    darken(#fff, 40%);
$black-50 :    darken(#fff, 50%);
$black-60 :    darken(#fff, 60%);
$black-70 :    darken(#fff, 70%);
$black-80 :    darken(#fff, 80%);
$black-90 :    darken(#fff, 90%);

// Grays
$gainsboro      :   rgb(220,220,220);
$lightgray      :   rgb(211,211,211); 
$silver       :  rgb(192,192,192);
$darkgreay      :  rgb(169,169,169);
$gray         :  rgb(128,128,128);
$dimgray        :  rgb(105,105,105);
$lightslategray :  rgb(119,136,153);
$slategray      :  rgb(112,128,144);
$darkslategray    :  rgb(47,79,79);
