/*--------------------------------------------------------------
>>> Buttons
--------------------------------------------------------------*/    

.btn{
	padding: 12px 25px;
}

.btn-theme{
	background: $purple;
	color: #fff;
	transition: all 0.35s ease;
	&:hover{
		color: #fff;
		background: $pink;
		transition: all 0.35s ease;
	}
}